<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>955490244473-ecccp62cl37i9lv7saocpqgd81hehsr5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.955490244473-ecccp62cl37i9lv7saocpqgd81hehsr5</string>
	<key>API_KEY</key>
	<string>AIzaSyCnfpKW4JefpMdpWzxEMrjAvgvz6fZaM7c</string>
	<key>GCM_SENDER_ID</key>
	<string>955490244473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MammaFoodieCorp.developer.MammaFoodie</string>
	<key>PROJECT_ID</key>
	<string>mamma-foodie</string>
	<key>STORAGE_BUCKET</key>
	<string>mamma-foodie.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:955490244473:ios:48ba94efcd6cced1</string>
	<key>DATABASE_URL</key>
	<string>https://mamma-foodie.firebaseio.com</string>
</dict>
</plist>